<template>
    <div class="message">
        <h1>
            {{ message }}
        </h1>
    </div>
</template>

<script>
export default {
    data() {
        return {
            message: `🅱️ar🅱️ucks 🅱️oker ☕`,
        };
    },
};
</script>

<style lang="scss">
.message {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 50px;
    font-family: Arial, sans-serif;
    animation-name: strobe;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background-color: lightgray;
}

body {
    margin: 0;
}

@keyframes strobe {
    50% {
        background-color: burlywood;
    }
}
</style>
